<a href="https://colab.research.google.com/github/heikoheilgendorff/adh_data_blog/blob/master/_notebooks/2022-06-08-test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fastpages Notebook Blog Post
> My first attempt at a blog post.

- toc: true 
- badges: true
- comments: true
- categories: [jupyter]
- image: images/chart-preview.png

# First attempt at reading some data

In [1]:
#hide
import pandas as pd

In [6]:
#df = pd.read_excel('data/owid_sample.xlsx')
df = pd.read_csv('https://raw.githubusercontent.com/heikoheilgendorff/adh_data_blog/master/_notebooks/data/owid_sample.csv')

In [7]:
df.head()

,iso,continent,region,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million
0,OWID_AFR,Africa,Africa,2022-05-01,11677974.0,5175.0,5481.714,252881.0,0.0,13.000,8502.431,3.768,3.991,184.116,0.000,0.009
1,OWID_AFR,Africa,Africa,2022-05-02,11682837.0,4863.0,5683.143,252890.0,10.0,9.714,8505.972,3.541,4.138,184.123,0.007,0.007
2,OWID_AFR,Africa,Africa,2022-05-03,11687065.0,4228.0,5364.000,252897.0,7.0,5.571,8509.050,3.078,3.905,184.128,0.005,0.004
3,OWID_AFR,Africa,Africa,2022-05-04,11695715.0,8650.0,5638.000,252981.0,84.0,16.857,8515.348,6.298,4.105,184.189,0.061,0.012
4,OWID_AFR,Africa,Africa,2022-05-05,11706055.0,10340.0,6400.143,253047.0,66.0,25.143,8522.876,7.528,4.660,184.237,0.048,0.018